*.csv
*.pkl
*.pyc
*.pth
*.png
*metadata.json
*logs
*.lprof
*.json
*.txt
*events.out*
.venv*
!/standardized_datasets/Ohio2018/
!/standardized_datasets/Ohio2018/**
!/standardized_datasets/Ohio2018/**/*.csv
!/standardized_datasets/Ohio2018/**/*.pkl
!/standardized_datasets/Ohio2018/**/*.json
!/standardized_datasets/Ohio2020/
!/standardized_datasets/Ohio2020/**
!/standardized_datasets/Ohio2020/**/*.csv
!/standardized_datasets/Ohio2020/**/*.pkl
!/standardized_datasets/Ohio2020/**/*.json